.absolute, .fixed, .progress {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.author-header .page-cover {
    border-radius: 6px 6px 0 0;
    padding-bottom: calc(10% + 100px);
    z-index: 0;
}
.page-cover {
    text-shadow: 0 0 5px rgba(0,0,0,.2);
    color: #fff;
    position: relative;
    overflow: hidden;
    padding: 0;
    padding-bottom: 70%;
    border-radius: 6px;
}
.qh-border-bottom {
    border-bottom: 1px solid rgba(50, 50, 50, 0.06);
}
.page-cover>.fit-cover {
    position: absolute;
}
.linear-mask {
    background-image: linear-gradient(0deg,rgba(29,41,49,.4) 3em,rgba(255,255,255,0) 8em);
}
.fit-cover{
    width: 100%;
    height: 100%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}
.author-header .header-content {
    padding: 18px 42px;
}
.author-header .header-info>.header-avatar {
    margin-top: -80px;
    margin-right: 20px;
}
.relative {
    position: relative;
}
.hover-show {
    position: relative;
    cursor: pointer;
    z-index: 10;
}
.author-header .avatar-img {
    --this-size: 140px;
}
.avatar-img{
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    --this-size: 38px;
    width: var(--this-size);
    height: var(--this-size);
}
.author-header .avatar-img .avatar {
    border-radius: 6px;
    border: 4px solid #fff;
}
.flex1 {
    flex: 1;
    overflow: hidden;
}
.em12 {
    font-size: 1.2em;
}
.em14{
    font-size: 14px;
}
.author-header .display-name {
    font-size: 20px;
    font-weight: 700;
}
.ml3 {
    margin-left: 3px;
}
.img-icon{
    height: 1.1em;
    max-width: 6em;
    vertical-align: -0.15em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
}
.author-header .desc {
    max-width: 520px;
}
.flex.ac, .inflex.ac {
    align-items: center;
}
.flex.hh {
    flex-wrap: wrap;
}
.badg,.author-header .user-identity>.but {
    font-size: 12px;
    padding: 2px 6px;
    margin: 5px 6px 0 0;
    line-height: 1.4;
}

.but,.badg{
    border-radius: 4px;
    display: inline-block;
    border-radius: 4px;
    transition: .15s;
    border: 1px solid var(--this-border);
    vertical-align: middle;
    padding: 0.3em 0.6em;
    text-align: center;
    font-weight: 400;
    box-shadow: var(--this-shadow);
    background: var(--this-bg);
    color: var(--this-color);
    --main-color: var(--this-color);
    --this-bg: rgba(136, 136, 136, 0.1);
    --this-border: transparent;
    --this-shadow: none;
    --this-color: #888;
    text-shadow: 0 0 0;
    line-height: 1.44;
}
.radius50 {
    border-radius: 50px;
    padding: 0.1em 0.6em;
}
.dm {
    display: block !important;
    margin-bottom: 0 !important;
}

.hover-show .hover-show-con {
    position: absolute;
    visibility: hidden;
}
.hover-show .hover-show-con {
    opacity: 0;
    transform: translateY(6px);
    transition: .4s;
}
.hover-show:hover .hover-show-con, .hover-show:hover~.hover-show-con, .hover-show:hover~.sub-menu {
    visibility: unset;
}
.hover-show:hover .hover-show-con, .hover-show:hover~.hover-show-con, .hover-show:hover~.sub-menu, .navbar-top li:hover>.sub-menu {
    opacity: 1;
    transform: translateY(0);
}
.author-header .avatar-img+.avatar-set-link {
    color: #fff;
    text-shadow: 0 0 20px rgba(0,0,0,.8);
}
.avatar-img-member{
    height: 100%!important;
}
.flex.jc{
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
}
 .mr-2 {
    margin-right: 0.25em;
}
.gutters-10 {
    margin: -10px;
}
.qh-widget {
    clear: both;
    background: var(--bs-white);
    border-radius: 8px;
    margin-bottom: 10px;
}
.padding-10 {
    padding: 10px;
}
.flex.jsa {
    justify-content: space-around;
}

.mt6 {
    margin-top: 6px;
}
.em09 {
    font-size: 12px;
}
.opacity5,.ri-arrow-right-s-line {
    opacity: .5;
    
}
.flex.jsb, .inflex.jsb {
    justify-content: space-between;
}
.col-ml6>*+* {
    margin-left: 6px;
}
.mb6 {
    margin-bottom: 6px;
}
.c-yellow-2 {
    --this-color: #ff6f06;
    --this-bg: rgba(255, 111, 6, 0.1);
}
.c-blue-2 {
    --this-color: #5c7cff;
    --this-bg: rgba(77, 130, 249, 0.1);
}
.font-bold {
    font-weight: 700;
}
.c-yellow-2 {
    color: var(--this-color);
}
.c-blue-2 {
    color: var(--this-color);
}
.mr6 {
    margin-right: 6px;
}
.c-blue {
    --this-color: var(--bs-blue);
    --this-bg:  var(--bs-background);
    color: var(--this-color);
}
.c-green {
    --this-color: #18a52a;
    --this-bg: rgba(18, 185, 40, 0.1);
    color: var(--this-color);
}
.padding-6 {
    padding: 6px;
}
.user-icon-but-box>item {
    width: calc(25% - 10px);
    margin: 5px;
    min-width: 50px;
    max-width: 100px;
    cursor: pointer;
}
.mt3 {
    margin-top: 3px;
}
.active {
    color: var(--bs-blue)!important;
}
.px12 {
    font-size: 12px;
}
.gutters-10>* {
    padding: 10px;
}
.gutters-10 {
    margin: -10px;
}
.flex .flex0 {
    flex: none;
}
.muted-2-color {
    color: #999;
}
.padding-w10 {
    padding-left: 10px;
    padding-right: 10px;
}
.tab-nav-theme {
    border-bottom: 1px solid rgba(50, 50, 50, 0.06);
    padding-bottom: 6px;
    margin: 8px 0 5px;
    list-style: none;
    display: flex;
    padding: 10px;
}
.tab-nav-theme.mini-scrollbar>li, .tab-nav-theme.swiper-wrapper>li {
    padding-left: 5px;
    margin: 0;
    padding-right: 5px;
    line-height: 1.4;
}
.list-inline>li {
    vertical-align: middle;
}
.tab-nav-theme li.active a {
    color: var(--bs-blue);
}
.text-right {
    text-align: right;
}
.flex.xx, .inflex.xx {
    flex-direction: column;
}
.mt20 {
    margin-top: 20px;
}
.muted-3-color {
    color: #b1b1b1;
}
.user-level-card {
    padding: 16px;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
}
.user-level-card .level-exp {
    width: 100%;
}
.user-level-card .level-icon {
    height: 22px;
    display: inline-block;
}
.user-level-card .level-icon {
    height: 22px;
    display: inline-block;
}
.w-h {
    width: 100%;
    height: 100%;
}
.user-level-card .level-exp-progress-bar {
    width: 100%;
    height: 10px;
    background: rgb(245, 245, 245);
    margin: 10px 0;
    border-radius: 999rem;
}
.user-level-card .exp-progress-bar {
    width: 0;
    background: linear-gradient(46deg, var(--bs-blue) -40%, var(--bs-blue) 100%);
    transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    height: 100%;
    border-radius: 999rem;
}
.user-level-card .level-exp-info {
    justify-content: space-between;
    font-size: 13px;
    color: #999;
}
.user-level-card .level-mark {
    position: absolute;
    right: 16px;
    top: 16px ;
    width: 20%;
    opacity: .8;
}
#swiper-scroll, #bs-scroll {
    display: flex;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.growth-header .user-level-points .levels-container {
    align-items: flex-end;
    height: 100%;
}
.level-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
    justify-content: flex-end;
    min-width: 50px;
    padding: 0 !important;
    --carousel-slide-width: 50px;
    cursor: pointer;
}
.user-level-points .level-item .level-exp {
    color: #C9CCD0;
    margin-bottom: 4px;
    font-size: 14px;
}
.user-level-points .level-bar {
    width: 12px;
    background: #C9CCD0;
    border-radius: 4px;
    margin-bottom: 8px;
    opacity: .5;
}
.user-level-points .level-item .level-icon {
    width: auto;
    height: 16px;
    margin-bottom: 8px;
}
.user-level-points {
    flex: 1;
    padding: 16px;
    
}
.border-bottom-1 {
    border-bottom: 1px solid rgba(50, 50, 50, 0.06);
}
.padding-h10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.growth-content {
    padding: 16px;
}
.tabs {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.tabs .tabs-nav {
    position: relative;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.tabs .tabs-nav li {
    margin-right: 24px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    display: inline-flex;
    flex: 0 0 auto;
}
.tabs .tabs-nav .active-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0px;
    background-color: var(--bs-blue);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    transform: translateX(0px);
    z-index: 2;
}
.tabs .tabs-nav:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #f7f7f7;
    z-index: 1;
}
.record-list .record-item > div {
    display: flex;
    font-size: 12px;
    color: #9499A0;
    align-items: center;
    justify-content: space-between;
}
.record-list .record-item .record-title {
    font-size: 14px;
    color: #333;
}
.record-list .record-item .record-value.exp b {
    color: #4CAF50;
}
.record-list .record-item + .record-item {
    border-top: 1px solid #f7f7f7;
    padding-top: 12px;
    margin-top: 12px;
}
.record-list .record-item .record-value b {
    color: #ffab00;
    font-size: 14px;
}
.mr5{
    margin-right: 5px;
}
.account-page-right > div {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    width: 100%;
    height: 100%;
    
}
 .account-page-right .right-wrap > div {
    padding: 16px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #FFFFFF;
}
.secure-page .secure-header {
    width: 100%;
    height: 184px;
    background-position: center;
    background-repeat: no-repeat;
    background: url(/static/them/images/14640b6b756eff_1_post.png) no-repeat 50%;
    position: relative;
}
.secure-header .secure-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.secure-header .secure-info .secure-shield {
    display: block;
    width: 83px;
    height: 100px;
    line-height: 100px;
    background: url(/static/them/images/1afe76466e44b3_1_post.png) no-repeat 50%;
    background-size: cover;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.secure-header .secure-info .secure-desc.no-risk {
    display: inline-block;
    padding: 0 8px;
    margin: 8px auto;
    background: #fc1944;
    border-radius: 12px;
    color: #fff;
    font-size: 14px;
}

.secure-header .secure-info .secure-suggest {
    font-size: 14px;
    color: #61666D;
}

.secure-header .secure-info .secure-suggest span {
    color: var(--bs-blue);
}

.secure-page .secure-setting-list .setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #f7f7f7;
    border-radius: 6px;
}

.secure-page .secure-setting-list .setting-item + .setting-item {
    margin-top: 12px;
}

.secure-page .secure-setting-list .setting-item:hover {
    background-color: #f6f7f9;
}

.secure-page .secure-setting-list .setting-item .title {
    margin-bottom: 8px;
}

.secure-page .secure-setting-list .setting-item .desc {
    font-size: 14px;
    color: #9499A0;
}

.secure-page .secure-setting-list .setting-item .right {
    font-size: 14px;
    color: var(--bs-blue);
    cursor: pointer;
}
.account-page-right .section-title {
    padding-bottom: 8px;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 16px;
}
.counts-item {
    justify-content: space-between;
    padding: 16px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--bs-white);
    margin-bottom: 10px;
}
.counts-item .single-count-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.counts-item .single-count-item .count-text {
    color: #9499A0;
    font-weight: 400;
    font-size: 13px;
    transition: color .2s;
}
.user-assets-item,.qh-panel{
    padding: 16px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--bs-white);
    margin-bottom: 10px;
}
.user-assets-item .title {
    margin-bottom: 12px;
    line-height: 15px;
}
.user-assets-item .user-assets {
    justify-content: space-between;
}
.user-assets-item .user-money-card, .user-assets-item .user-credit-card {
    border: none;
    background: #f6f7f9;
}
.user-assets-item .user-money-card, .user-assets-item .user-credit-card {
    border-radius: 4px;
    height: 65px;
    padding: 8px 16px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    width: calc(50% - 6px);
     overflow: hidden;
}
.user-assets-item .user-assets-name {
    margin-bottom: 5px;
}
.user-assets-item .user-money-card .user-assets-num {
    color: #1a7af8;
}
.user-assets-item .user-assets-num {
    font-size: 18px;
    font-weight: 600;
    color: #ffab00;
    z-index: 1;
    position: relative;
}
 .qh-panel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 12px 0;
}
.qh-panel .panel-item {
    width: 25%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #61666D;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qh-panel .panel-item i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-bottom: 5px;
    background: #f6f7f9;
    border-radius: 11px;
    font-size: 20px;
    line-height: 20px;
}
.post-page > div {
    padding: 16px;
    border-radius: 4px;
    background-color: var(--bs-white);
}
.post-data .post-data-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 16px;
    width: 100%;
}
.post-data .post-data-list .item-card {
    background: #f6f7f9;
    border-radius: 4px;
    padding: 8px 16px;
    width: calc(33.3333% - 11px);
}
.post-data .post-data-list .item-card .name {
    margin-bottom: 4px;
    font-size: 14px;
    color: #9499A0;
}
.post-data .post-data-list .item-card .num {
    font-size: 16px;
    z-index: 1;
    position: relative;
}
.task-section .task-list {
    margin: 16px 0;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 16px;
}
.task-section .list-item {
    padding: 12px 16px;
    background-color: #f6f7f9;
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: calc(50% - 8px);
    border: 1px solid #f7f7f7;
}
.task-section .list-item > div {
    display: flex;
    align-items: center;
}
.task-list .list-item .task-title > div:first-child {
    font-size: 14px;
    margin-bottom: 4px;
}
.task-list .list-item .task-prize {
    display: flex;
    align-items: center;
    grid-gap: 12px;
}
.task-list .list-item .prize-item {
    display: flex;
    align-items: center;
}
.task-list .list-item .prize-item img {
    height: 14px;
}
.task-list .list-item .task-prize .pioints.credit {
    color: #ffbb55;
}
.task-section .list-item .item-right {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 40px;
}
.author-edit-page {
    padding: 10px;
}
.author-edit-list>li {
    border-bottom: 1px solid #f5f6f7;
}
.author-edit-list>li {
    display: flex;
    font-size: 14px;
}
.author-edit-list>li {
    padding: 16px 0;
}
.author-edit-page .edit-name {
    font-weight: 600;
    font-size: 14px;
}
.author-edit-list{
    padding: 10px;
}
.edit-name {
    width: 200px;
    flex-grow: 0;
    min-width: 200px;
    max-width: 200px;
}
 .edit-item {
    width: 100%;
}
.user-edit-button {
    color: var(--bs-blue);
}
.user-edit-button {
    opacity: 1;
    visibility: hidden;
}
.user-edit-button {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}
.author-edit-page .author-edit-list>li:hover .user-edit-button {
    opacity: 1;
    visibility: visible;
}
.setting-des {
    font-size: 12px;
    color: #bcbcbc;
    margin-top: 10px;
}
.edit-input input[type=text], .edit-input input[type=password] {
    width: 260px;
    font-size: 14px;
}
.edit-button {
    margin-top: 10px;
}
.edit-button {
    text-align: left;
}
.edit-button button {
    margin-right: 10px;
}
.setting-sex span {
    margin-right: 16px;
}
.user-settings-code {
    margin-top: 10px;
    width: 260px;
    display: flex;
}
.user-settings-code button {
    display: block;
    width: 182px;
    margin-left: 10px;
}
.order-list .order-item {
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    background: var(--bs-white);
}
.order-list .order-item .store-info {
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}
.order-list .order-item > div {
    display: flex;
}
.order-item .store-info .store-name {
    display: flex;
    align-items: center;
}
.order-item .order-status {
    font-size: 14px;
    color: #F44336;
}
.order-list .order-item .product-info {
    align-items: stretch;
    margin-bottom: 12px;
}
.order-list .order-item .product-info .product-image {
    width: 72px;
    height: 72px;
    border-radius: 4px;
    overflow: hidden;
    padding: 5px;
    flex-shrink: 0;
    border: 1px solid #f7f7f7;
}
.order-list .order-item .product-info .product-image img {
    border-radius: 4px;
    overflow: hidden;
}
.order-list .order-item .product-info .product-details {
    flex-grow: 1;
    margin: 0 12px;
}
.order-list .order-item .product-info .product-details .product-name {
    margin-bottom: 5px;
    line-height: 22px;
}
.order-list .order-item .product-info .product-details .product-quantity {
    color: #9499A0;
    font-size: 13px;
}
.order-list .order-item .total-amount {
    margin-bottom: 12px;
    font-size: 14px;
    text-align: right;
    justify-content: flex-end;
}
.order-list .order-item .order-action {
    justify-content: flex-end;
    grid-gap: 16px;
}
.order-list .order-item .order-info {
    font-size: 14px;
    flex-direction: column;
    margin-top: 12px;
    color: #61666D;
    grid-gap: 6px;
}
.order-list .order-item .order-info > div {
    display: flex;
    justify-content: space-between;
}
.order-list .order-item .order-info .label {
    color: #9499A0;
}

/*vip页面*/
.vip-bg {
    position: absolute;
    top: -16px;
    
    height: 100%;
    background: url(/static/them/images/bg-header-base.svg) center center no-repeat;
    background-size: contain;
    z-index: 0;
}
.vip-header {
    text-align: center;
    padding-top: 44px;
    padding-bottom: 60px;
}
.vip-header h1 {
    font-size: 35px;
    margin-bottom: 12px;
}

.vip-list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    grid-gap: 24px;
    min-height: 456px;
}

.vip-list[v-cloak]{
    display: flex!important;
    visibility: hidden;
}

.vip-item {
    padding: 16px;
    width: calc(25% - 12px);
    text-align: center;
    border-radius: 4px;
    border-radius: 12px;
    background: var(--bs-white);
    min-width: 288px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}

.vip-item h2 {
    font-size: 24px;
}

.vip-item >* + * {
    margin-top: 24px;
    position: relative;
}

.vip-price {color: var(--bs-blue);}

.vip-price .num {
    font-size: 28px;
    font-weight: 600;
}

.vip-price span:last-of-type {
    font-size: 12px;
    line-height: 1;
    border-radius: 50%;
    margin-left: -14px;
    padding: 2px 4px;
    background: var(--bs-white);
    object-fit: contain;
    transform: scale(.9);
    display: inline-block;
}

.vip-price .badge {
    right: 20px;
    top: -4px;
    border-radius: 25px;
    position: absolute
}

span.unit {
    font-weight: 600;
    font-size: 16px;
}
span.icon.bg-text {
    border-radius: 100%;
    padding: 1px;
    line-height: 1;
    margin-right: 4px;
}

.rights-list li {
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #61666D;
}

ul.rights-list b {
    color: var(--bs-blue);
    font-weight: normal;
    vertical-align: bottom;
}

.original-price {
    margin-top: 4px;
    line-height: 16px;
    text-decoration: line-through;
    color: #C9CCD0;
    min-height: 16px;
}
.subtitle{
    margin-top: 8px;
    color: #9499A0;
}
.badge.gradient {
    background-image: linear-gradient(90deg, #fa1f22 0%, #ff702e 100%);
}
.vip-body.wrapper {
    position: relative;
    background: url(/static/them/images/bg-header.png) center center no-repeat;
    background-size: auto;
}
.vip-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.vip-footer h2 {
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.timedown-box {
    position: absolute;
    z-index: 0;
    top: -32px;
    left: 0;
    width: 100%;
    height: 52px;
    background: url(/static/them/images/countdown-bg.png) no-repeat 50%;
    background-size: cover;
}

.time-countdown-box {
    display: flex;
    padding-top: 4px;
    padding-left: 28.5%;
}

.time-countdown-box .time {
    margin-right: 10.5%;
    width: 24px;
    height: 24px;
    letter-spacing: 1px;
     font-family: Impact; 
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timedown-box:after {
    content:"";
    width: 100%;
    display: block;
    height: 20px;
    background: var(--bg-main-color);
    /* box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.05); */
    border-radius: 12px 12px 0 0;
    position: absolute;
    bottom: 0;
}


.timedown-box + h2 {
    margin: 0;
}

@media screen and (max-width:768px){
    .vip-item {
        margin-top: 32px;
    }
}
.vip-faq {
    margin: auto 12%;
}
.collapse-item {
    margin-bottom: 12px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: var(--bs-white);
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.collapse-header {
    cursor: pointer;
    font-size: 16px;
    color: inherit !important;
    user-select: none;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collapse-content div {
    padding: 0 24px 16px;
    color: #9499A0;
    font-size: 14px;
}
/*我的主页*/
.ml10 {
    margin-left: 10px;
}
.author-header .mask-wrapper {
    width: 100%;
    padding-top: 72px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.author-header .mask-wrapper {
    position: relative;
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
}

.author-header .mask-wrapper .author-container-mask {
    background: linear-gradient(180deg,hsla(0,0%,98%,0),hsla(0,0%,98%,.95) 85%,var(--bs-white));
    bottom: -1px;
    height: 0px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.author-header .wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
}

.author-header .author-container {
    min-height: 228px;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    clip-path: path("M85 0c18.703 0 35.339 8.853 45.945 22.597.41.53.84 1.132 1.293 1.804A24 24 0 0 0 152.148 35H2560c6.627 0 12 5.373 12 12v300c0 6.627-5.373 12-12 12H12c-6.627 0-12-5.373-12-12V47c0-6.627 5.373-12 12-12h5.857a24 24 0 0 0 19.916-10.608c.478-.712.933-1.345 1.364-1.901C49.747 8.807 66.345 0 85 0Z");
}

.author-header .author-container .avatar-bg {
    position: relative;
    width: 150px;
    height: 35px;
    margin-left: 12px;
    clip-path: path("M126.317 22.597C114.47 8.853 95.888 0 74.9972 0C54.16 0 35.6204 8.807 23.7693 22.491C23.2879 23.047 22.7796 23.68 22.2457 24.392Q21.2071 25.7748 20.0006 26.9909Q19.609 27.3856 19.1997 27.7628Q16.3345 30.4028 12.6022 32.1826C8.66344 34.0608 4.46269 35 0 35L150 35C145.541 34.9995 141.34 34.0613 137.403 32.1852C133.466 30.3086 130.252 27.7139 127.761 24.401C127.255 23.729 126.775 23.127 126.317 22.597Z");
    background: hsla(0,0%,100%,.6);
}

.author-header .author-container .author-info {
    position: relative;
    background: linear-gradient(180deg,hsla(0,0%,100%,.6),hsla(0,0%,100%,.9) 40%,#fff 100%);
    z-index: 1;
    border-radius: 12px;
    display: flex;
    min-height: 193px;
    flex-direction: column;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.author-header .author-container .author-profile {
    display: flex;
    align-items: flex-end;
    margin-top: -32px;
    padding: 12px 40px;
}

.author-header .author-profile .left {
    margin-right: 24px;
}

.author-header .author-profile .user-avatar {
    --avatar-size: 90px;
}

.author-info .user-avatar .avatar-badge {
    --avatar-size: 70px;
}

.author-header .author-profile .right {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: flex-end;
}

.author-header .user-info-name .user-name {
    font-size: 24px;
}

.author-header .user-info-name > span {
    height: 18px;
}

.author-header .user-info .desc{
    line-height: 24px;
    height: 24px;
    font-size: 14px;
    color: #9499A0;
}

.author-header .statistics {
    display: inline-flex;
    flex-shrink: 0;
}

.author-header .statistics > * {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    font-size: 18px;
    position: relative;
}

.author-header .statistics > div:last-of-type {
    padding-right: 0;
}

.author-header .statistics > * .text {
    color: #61666D;
    font-size: 14px;
    margin-bottom: 4px;
}

.author-header .statistics > * + *::before {
    content: "";
    width: 1px;
    height: 24px;
    background: #f7f7f7;
    position: absolute;
    left: 0;
    top: 30%;
    opacity: .4;
}

.author-header .author-container .author-profile-bottom {
    display: flex;
    justify-content: space-between;
    flex: 1 1 0%;
    padding: 0px 40px 16px;
}

.author-header .author-profile-bottom .left-desc {
    flex: 1 1 0%;
    margin-top: 16px;
    color: #9499A0;
}

.author-header .author-profile-bottom .left-desc .list {
    margin-bottom: 12px;
}

.author-header .author-profile-bottom .left-desc .tag-item {
    align-items: center;
    background: #f6f7f9;
    border-radius: 14px;
    color: #9499A0;
    height: 28px;
    margin-right: 8px;
    display: inline-flex;
    font-size: 13px;
    padding: 0 8px;
}

.author-header .author-profile-bottom .left-desc .tag-item i {
    font-size: 17px;
    line-height: 17px;
    margin-right: 4px;
}

.author-header .author-profile-bottom .right-action {
    display: flex;
    grid-gap: 16px;
    max-width: 300px;
    width: 100%;
    align-items: center;
    margin-top: 32px;
    justify-content: flex-end;
}

.author-header .author-profile-bottom  .right-action > * {
    border-radius: 4px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    flex: 1;
    cursor: pointer;
}

.author-header .author-profile-bottom  .right-action .profile-primary-button {
    background: var(--bs-blue);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.03);
    color: var(--bs-white);
    opacity: 0.8;
    max-width: 150px;
}

.author-body.wrapper {
    margin-top: 16px;
}
.author-profile-bottom .right-action > * {
    background: var(--bs-white);
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .03);
    color: #61666D;
    line-height: 40px;
    height: 40px;
    text-align: center;
    flex: 1;
    cursor: pointer;
}

/***用户页面栏目***/
.author-tabsbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 16px;
}

.author-tabsbar .tab-links {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px 24px;
}

.author-tabsbar .tab-links > a {
    display: inline-flex;
    position: relative;
    align-items: center;
}

.author-tabsbar .tab-links > a i {
    font-size: 20px;
    margin-right: 4px;
    color: var(--bs-blue);
    line-height: 0;
}

.author-tabsbar .tab-links > a.active .text {
    color: var(--bs-blue);
    z-index: 1;
}


.author-tabsbar .tab-links .active:after {
    content:"";
    position:absolute;
    height: 8px;
    width: 26px;
    bottom: 2px;
    left: 0;
    background: var(--bs-blue);
    opacity: .6;
    border-radius: 0 25px;
    z-index: 0;
}
.qh-home{
    margin: 0 auto;
    width: 100%;
    max-width: calc(1200px + 48px);
    padding: 0 24px;
}
/*发布文章*/
.site-main {
    padding: 30px;
    margin-bottom: 86px;
}
.write-title {
    border-bottom: 1px solid #f7f7f7;
    padding-top: 10px;
}
.write-textarea {
    width: 100%;
    border: 0;
    font-size: 26px;
    padding: 10px 0;
    resize: none;
    display: block;
    min-height: 30px;
    overflow: hidden;
    background: var(--bs-white);
    outline: none; 
}
.post-setting .setting-title {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 16px;
    color: #9499A0;
    font-size: 15px;
}

.post-setting > div {
    padding: 16px;
}
.post-setting .setting-title:before, .post-setting .setting-title:after {
    content: "";
    height: 1px;
    background-color: #f7f7f7;
    flex: 1 1 0%;
    width: 100%;
}
.post-setting > div {
    padding: 16px;
}
.mg-b {
    margin-bottom: 16px;
}
.write-thumb {
    position: relative;
    width: 150px;
    height: 100px;
    overflow: inherit
}
.dashed{
    border: 1px dashed;
}

.write-thumb label {
    display: flex;
    border-radius: 4px;
    border-color: #8493a5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: #9499A0;
}
.post-setting > div p {
    color: #9499A0;
    font-size: 14px;
    padding-bottom: 16px;
}
.write-footer {
    position: fixed;
    bottom: 0;
    z-index: 1003;
    left: 0;
    right: 0;
    background-color: var(--bs-white);
}
.write-footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}
.button-submit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 220px;
}

.button-submit .draft {
    margin-right: 16px;
    background-color: rgba(56, 88, 246, var(--opacity,0.1));
    color: var(--bs-blue);
}

.button-submit button {
    flex: 1;
    padding: 10px;
}
.button-submit .publish {
    background-color: var(--bs-blue);
}
.write-textarea{
    overflow-x: hidden; 
    overflow-wrap: break-word; 
    height: 58px;
}
.w-e-text-container{
    height: 500px!important;
}

/*图片管理*/
.image-upload-box {
    max-width: 400px;
    border-radius: 4px;
    width: 400px;
}
.image-upload-box .container-top {
    display: flex;
    justify-content: center;
    padding: 16px;
    border-bottom: 1px solid #f7f7f7;
}
.image-upload-box .container-top span {
    margin: 0 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
}
.image-upload-box .container-content {
    min-height: 32vh;
}
.image-upload-box .images-list {
    flex-wrap: wrap;
    display: flex;
    padding: 0 16px;
    max-height: 38vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.image-upload-box .list-item {
    cursor: pointer;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background: #f7f7f7;
    flex-basis: calc(33.333% - 10px);
    transition: all 0.3s;
}
.image-upload-box .list-item .img {
    height: 0;
    padding-bottom: 100%;
}
.image-upload-box .list-item .img img {
    position: absolute;
    top: 0;
    left: 0;
}
.insert-img-button {
    padding: 16px 18px;
}
.image-upload-box .insert-img-button button {
    padding: 10px 0px;
    font-size: 16px;
    border-radius: 50px;
    width: 100%;
    background: var(--bs-blue);
    border: 0;
}
.pd16{
    padding: 16px;
}
.pull-right {
    float: right;
}
.image-upload-box .list-item.active {
    box-shadow: 0 0 0 2px var(--bs-blue);
}
.WriteCoverV2-buttonGroup {
    display: none;
    height: 32px;
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    border: 0px;
    align-items: center;
    font-size: 14px;
    color: var(--bs-white);
    grid-gap: 8px;
}
.WriteCoverV2-buttonGroup > span {
    width: 47px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.write-thumb:hover .WriteCoverV2-buttonGroup{
    display: flex;
    justify-content: center;
}

@media (max-width: 480px){
    .author-header {
       margin-left: -10px;
       margin-right: -10px;
   }
}

/*消息中心*/
.message-box {
    height: 76.5vh;
    width: 100%;
    display: flex;
    border-radius: 12px;
    max-height: calc(100vh - 56px - 16px* 2);
    box-shadow: 0 2px 4px #9499A0;
    max-width: 1000px;
    margin: 0 auto;
}
.sub-panel {
    max-width: 280px;
    width: 100%;
    border-radius: 4px 0 0 4px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 24px 0 rgba(96, 101, 108, .08);
}
.sub-panel .title {
    height: 56px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-list {
    flex: 1 1;
    overflow: auto;
    margin-left: 4px;
    margin-right: 4px;
}
.chat-list-wrapper {
    padding: 12px 4px;
    overflow: hidden;
}
.chat-item {
    height: 64px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 0 12px;
    border-radius: 8px;
    transition: all .3s;
}
.chat-list-wrapper .user-avatar {
    margin-right: 8px;
}
.user-info {
    flex: 1 1;
    
}
.name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.user-name .name {
    font-size: 14px;
    font-weight: 600;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.name-box .time {
    font-size: 12px;
    color: #9499A0;
}
.last-word {
    font-size: 12px;
    color: #9499A0;
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main-panel {
    flex: 1 1;
}
.qh-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    flex-flow: column;
    color: #C9CCD0;
    width: 100%;
    height: 100%;
}
.qh-empty img {
    width: auto;
    margin-bottom: 16px;
    opacity: 1;
}
.chat-item:hover {
    background-color: #f6f7f9;
    transition: all .3s;
}
.message-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.head {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid #f7f7f7;
}
.head .title {
    font-size: 18px;
    display: flex;
    align-items: center;
}
.message-list {
    flex: 1 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f6f7f9;
    border-radius: 0 0 8px 0;
}
.notice-list-content {
    padding: 20px;
}
.notice {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 6px;
}
.notice .user-avatar {
    width: 45px;
    height: 45px;
}
.notice-content {
    flex-grow: 1;
    margin: 0 8px;
    width: 0;
}
.notice-user {
    font-size: 14px;
    font-weight: 600;
}
.notice-message {
    font-size: 13px;
    position: relative;
    margin: 8px 0;
    color: #61666D;
}
.notice-action {
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    color: #9499A0;
}
.notice-list-content .notice-item + .notice-item {
    margin-top: 16px;
}
.chat-item.active {
    background: #f6f7f9;
    color: #333333 !important;
}
.private-list.right {
    text-align: right;
}

.private-list {
    margin: 10px 0;
}
.private-list.right .avatar-img {
    float: right;
}
.private-list .avatar-img {
    width: 32px;
    height: 32px;
}
 .private-item .avatar {
    border-radius: 4px;
}
.private-content {
    max-width: calc(80% - 60px);
    display: inline-block;
    word-wrap: break-word;
    
    padding: 6px 10px;
    border-radius: 4px;
    margin: 0 8px;
    position: relative;
    text-align: left;
    min-height: 32px;
    min-width: 32px;
    background: var(--bs-white);
}
.private-list.right .private-content::before {
    left: auto;
    right: -4px;
}
 .private-content::before {
    content: ' ';
    display: inline-block;
    width: 9px;
    height: 9px;
    background: var(--bs-white);
    position: absolute;
    top: 12px;
    transform: rotate(45deg);
    left: -4px;
    border-radius: 2px;
}
.send-box {
    border-top: 1px solid rgba(49, 52, 56, .08);
    padding: 10px 16px 16px;
    position: relative;
    height: 160px;
    z-index: 1;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: column;
}
.chat-tool {
    display: flex;
    align-items: center;
    grid-gap: 12px;
}
.input-box {
    flex: 1 0 0;
    padding: 10px 0;
}
.send-btn button {
    padding: 6px 30px;
}

.send-btn button {
    float: right;
}
/*转账*/
.transfer{
    padding: 16px;
    margin-bottom: 10px;
}
.separator {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator::after, .separator::before {
    content: '';
    background: rgba(50, 50, 50, 0.06);
    max-width: 20%;
    height: 1px;
    margin: 0 1em;
    flex: 1;
}

.muted-color {
    color: #777;
}
.radius-cover {
    border-radius: 100px;
    display: inline-block;
}
.padding-h6 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.scroll-y {
    overflow-x: hidden;
    overflow-y: auto;
}
.muted-box {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 15px;
}
.line-form-input {
    outline: 0 !important;
    border: none;
    display: block;
    width: 100%;
    padding: 1em 2em .4em .3em;
    opacity: .8;
    transition: .3s;
    background: 0 0 !important;
}
.flex .shrink0 {
    flex-shrink: 0;
}
.ml6 {
    margin-left: 6px;
}

.mr10 {
    margin-right: 10px;
}

.line-form-line, .line-form-line:before {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transition: .8s;
    background: rgba(50, 50, 50, 0.06);
}


@media (max-width: 767px){
 .author-header {
    margin-top: -20px;
  }
  .header-content {
    padding: 12px!important;
}
.header-avatar {
    margin-top: -60px!important;
    margin-bottom: 10px!important;
}
.avatar-img {
    --this-size: 100px!important;
}
.avatar-img .avatar {
    border-radius: 100px!important;
    border-width: 3px!important;
}
 .header-info>.flex1 {
    flex-basis: 100%;
}
.author-header .header-btns {
    position: absolute;
    top: 0;
    right: 0;
}
}



