{qh:include "member","header"}
<main class="container mt-3">
<div class="content-wrapper">
    <div class="vip-page">
        <div class="vip-bg"></div>
        <div class="vip-header">
            <div class="wrapper">
                <h1>
                    <b style="color: var(--bs-blue);font-weight: normal">Astro</b>焕发无限可能</h1>
                <div class="desc">享受卓越设计和无限创意的完美结合・让建站变得如此简单</div></div>
        </div>
        <div class="vip-body wrapper">
            <div class="content-area">
                <main id="main" class="site-main">
                    <div class="vip-list">
                        <div class="vip-item">
                            
                            <h2>赞助会员</h2>
                            <div class="subtitle">适用于个人网站爱好者</div>
                            <div class="vip-price">
                                <span class="unit">￥</span>
                                <span class="num">25.00</span>
                                <span>元</span>
                                <div style="display: inline-block; color: var(--color-text-secondary);">/1个月起</div>
                                </div>
                            <div class="original-price">
                                </div>
                            <div class="pay-button" style="padding: 0px; margin-top: 16px;">
                                <button style="border-radius: 50px;">
                                    <span>立即开通</span></button>
                            </div>
                            <div class="rights">
                                <ul class="rights-list" style="margin: 0px 10%;">
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>查看所有隐藏内容
                                            <b>100</b>次/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>下载所有资源
                                            <b>10</b>次/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>观看所有视频
                                            <b>20</b>次/日</span>
                                    </li>
                                    
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>签到额外奖励
                                            <b>1-5</b>经验/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>免广告</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="vip-item">
                            
                            <h2>高级会员</h2>
                            <div class="subtitle">适用于专业团队合作网站</div>
                            <div class="vip-price">
                                <span class="unit">￥</span>
                                <span class="num">28.00</span>
                                <span>元</span>
                                <div style="display: inline-block; color: var(--color-text-secondary);">/1个月起</div>
                                <div class="badge gradient">限时 7.9折</div></div>
                            <div class="original-price">
                                <span class="num">￥35.00 /1个月起</span></div>
                            <div class="pay-button" style="padding: 0px; margin-top: 16px;">
                                <button style="border-radius: 50px;">
                                    <span>立即开通</span></button>
                            </div>
                            <div class="rights">
                                <ul class="rights-list" style="margin: 0px 10%;">
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>查看所有隐藏内容
                                            <b>50</b>次/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>下载所有资源
                                            <b>30</b>次/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>观看所有视频
                                            <b>不限</b>次/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>签到额外奖励
                                            <b>5-10</b>积分/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>签到额外奖励
                                            <b>15</b>经验/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>免广告</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="vip-item">
                            
                            <h2>专业会员</h2>
                            <div class="subtitle">适合企业网站</div>
                            <div class="vip-price">
                                <span class="unit">￥</span>
                                <span class="num">50.00</span>
                                <span>元</span>
                                <div style="display: inline-block; color: var(--color-text-secondary);">/1个月起</div>
                                </div>
                            <div class="original-price">
                                </div>
                            <div class="pay-button" style="padding: 0px; margin-top: 16px;">
                                <button style="border-radius: 50px;">
                                    <span>立即开通</span></button>
                            </div>
                            <div class="rights">
                                <ul class="rights-list" style="margin: 0px 10%;">
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>查看所有隐藏内容
                                            <b>不限</b>次/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>下载所有资源
                                            <b>40</b>次/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>观看所有视频
                                            <b>不限</b>次/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>签到额外奖励
                                            <b>30</b>积分/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>签到额外奖励
                                            <b>40</b>经验/日</span>
                                    </li>
                                    <li>
                                        <span class="icon bg-text">
                                            <i class="ri-check-line"></i>
                                        </span>
                                        <span>免广告</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div class="vip-footer wrapper">
            <h2>常见问题</h2>
            <div class="vip-faq">
                <div class="collapsee">
                    <div class="collapse-item" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <div class="collapse-header">
                            <span>如何确认会员是否生效？</span>
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                        <div class="collapse-content  collapse" id="collapseExample">
                            <div class="text">当您成功付款后，可访问 会员中心 查看会员详情。</div></div>
                    </div>
                    <div class="collapse-item" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <div class="collapse-header">
                            <span>个人VIP和企业VIP之间有什么区别？如何选择？</span>
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                        <div class="collapse-content collapse" id="collapseExample1">
                            <div class="text">没什么区别</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
</main>
{qh:include "member","footer"}