{qh:include "member","header"}
<link href="{STATIC_URL}/css/wangeditor.css" rel="stylesheet">
<script type="text/javascript" src="{STATIC_URL}/js/naive.js"></script>
<script type="text/javascript" src="{STATIC_URL}/js/wangeditor.js"></script>
<main class="container mt-3 qh-write" data-write='{"key":"post"}' id="write-post">
    <write-page></write-page>
</main>
<style>footer.footer{display:none!important}.wrapper{margin:0 auto;width:100%;max-width: calc(1100px + 48px);padding:0 24px}</style>
{qh:include "member","footer"}
<script type="text/javascript" charset="utf-8" src="{STATIC_URL}them/js/write.js?ver={rand(1,10)}"></script>