<script type="text/javascript" src="/components/admin/icons-vue.js"></script>
<script type="text/javascript" src="/components/admin/vue.js?v={rand(100,1000)}"></script>
<script type="text/javascript" src="/components/admin/http.js?v={rand(100,1000)}"></script>
<script type="text/javascript" src="/components/admin/prototype.js?v={rand(100,1000)}"></script>
<script type="text/javascript" src="/components/admin/components.js?v={rand(100,1000)}"></script>
<script type="text/javascript" src="/components/admin/mian.js?v={rand(100,1000)}"></script>
<script type="text/javascript" src="/components/admin/index.js?v={rand(100,1000)}"></script>
<script type="text/javascript" src="/components/admin/layout.js?v={rand(100,1000)}"></script>
<script type="text/javascript" src="/components/admin/system.js?v={rand(100,1000)}"></script>
<script type="text/javascript" src="/components/admin/add.js?v={rand(100,1000)}"></script>
<script type="text/javascript" src="/components/admin/footer.js?v={rand(100,1000)}"></script>