 <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Your-Header-Name" content="Your-Header-Value">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{STATIC_URL}/css/mian.min.css?v={rand(100,1000)}" rel="stylesheet">
    <script type="text/javascript" src="{STATIC_URL}/js/vue.global.js"></script>
    <script type="text/javascript" src="{STATIC_URL}/js/axios.min.js"></script>
    <script type="text/javascript" src="{STATIC_URL}/js/naive.js"></script>
    
    <title>后台管理系统</title>
</head>
