{qh:include "admin","js_cs"}
<link href="{STATIC_URL}/css/login.css?v={rand(100,1000)}" rel="stylesheet">
<link href="{STATIC_URL}them/css/Bootstrap.min.css" rel="stylesheet">
    <div class="w-100 h-100 top-0 Lr" id="app">
        <n-message-provider>
        <div class="container" style="padding: 40px">
            <div class="login-content d-flex m-0 mx-auto">
                <div class="content-img position-relative h-100">
                    <img class="bg h-100 w-100" src="{STATIC_URL}images/StockSnap_RARMM6E4LH.jpg">
                    <div class="name">{get_Domain()}</div></div>
                <div class="content-box d-flex flex-column justify-content-center bg-white">
                    <div class="login-title">欢迎登录后台 👋</div>
                    <div class="login-title2">hello! welcome to login admin.</div>
                    <div class="input-box df">
                        <div class="position-relative">
                            <input v-model="formData.account" class="form-control login-input" placeholder="请输入账号">
                            <div class="login-table">账号</div></div>
                    </div>
                    <div class="input-box df">
                        <div class="position-relative">
                            <input v-model="formData.password" type="password" class="form-control login-input" placeholder="请输入密码">
                            <div class="login-table">密码</div></div>
                    </div>
                    
                    <div class="input-box df">
                        
                        <div class="position-relative input-group">
                            <img width="110" style="border-radius: 50px 0 0 50px;" class="input-group-text bg-white" src="{captcha_img()}" onclick="this.src=this.src+'{rand(10,20)}'">
                            
                            <input v-model="formData.code" class="form-control login-input" style="border-radius: 0 50px 50px 0;" placeholder="请输入验证码">
                            <div class="login-table">验证</div></div>
                    </div>
                    
                    <div class="login-btn bg-primary text-white" @click="submit('formData')">登录</div>
                    <div class="split-line"></div>
                    
                    <div class="login-tips">— 内容管理、商业系统与软件服务的管理运营系统 —</div></div>
            </div>
            <div class="login-footer">
                <div>{site('site_name')} - {site('site_description')}</div>
                <div>{site('site_copyright')}</div></div>
        </div>
        </n-message-provider>
    </div>
    <script>
    const { createDiscreteApi } = naive
    const { message } = createDiscreteApi(['message'])
    const login = Vue.createApp({
       data() {
           return {
                formData: { account: '', password: '', code: ''},
                loading: false,
                verifySrc: '{captcha_img()}',
            };
        },
        methods: {
            submit() {
                this.loading = true;
                axios.post('{url('login')}', this.formData)
                    .then(res => {
                        if (res.data.status === 200) {
                           message.success(res.data.msg, { onLeave: () => { location.href = res.data.url; } });
                           this.loading = false;
                        } else {
                            this.loading = false;
                            message.error(res.data.msg);
                        }
                    })
                    .catch(() => {
                        this.loading = false;
                 });
            }
        },
    });
    
    login.use(naive);
    login.mount('#app');
    </script>
