<section class="container home-item mt-4 post-list" id="post-item-waterfall" 
data-param = '{"key":"waterfall","style":"waterfall","limit":8,"modelid":1,"catid":1}'>
<div class="qh-modules-top">
    <div class="qh-module-top-wrapper">
        <div class="qh-module-info qh-flex">
            <h2 class="qh-module-title"><text class="qh-color">瀑布</text>流式</h2>
            <div class="qh-module-action qh-flex">
                <div class="button" @click="exchange">
                    <i class="ri-refresh-line"></i>
                    <span>换一换</span></div>
            </div>
        </div>
       
    </div>
</div>
<div class="hidden-line post-3">
    <ul class="qh-grid qh-waterfall" style="position: relative;height: 813.86px;"></ul>
</div>
</section>